<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h5 class="page-title"><i class="bi bi-file-text-fill"></i> Listado de pólizas</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div id="accordion" class="mb-3">

            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-4">Pólizas <a class="btn btn-primary float-end" routerLink="create"><i class="bi bi-plus-lg"></i> Nueva Póliza</a></h4>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>SKU</th>
                                    <th>Nombre Articulo</th>
                                    <th>ID Empleado</th>
                                    <th>Empleado</th>
                                    <th>Cantidad</th>
                                    <th>Fecha</th>
                                    <th>Status</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let policy of policies">
                                    <!-- | paginate:{
                                        itemsPerPage:limit,
                                        currentPage:currentPage,
                                        totalItems:totalItems
                                    } -->
                                    <th scope="row">{{policy.idPolicy}}</th>
                                    <td>{{policy.inventory.sku}}</td>
                                    <td>{{policy.inventory.name}}</td>
                                    <td>{{policy.employee.idEmployee}}</td>
                                    <td>{{policy.employee.firstName + ' ' + (policy.employee?.middleName ? policy.employee.middleName + ' ': '')
                                        + policy.employee.lastName + ' ' + (policy.employee?.secondLastName ? policy.employee.secondLastName : '')}}</td>
                                    <td>{{policy.quantity}}</td>                                    
                                    <td>{{policy.dateTime | date: 'yyy-MM-dd HH:mm:ss'}}</td>
                                    <td>{{policy.status == 1 ? 'Habilitado': 'Eliminado'}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-sn btn-light" [disabled]="policy?.status == 99" [routerLink]="['update', policy.idPolicy]"><i class="bi bi-pencil-fill"></i></button>
                                            <button class="btn btn-sn btn-light" [disabled]="policy?.status == 99" (click)="deletePolicy(policy?.idPolicy!)"><i class="bi bi-trash3-fill"></i></button>
                                        </div>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                    <div class="mt-4">
                      <!-- <pagination-template #p="paginationApi" (pageChange)="pageChange($event)">
                          <nav aria-label="pagination">
                              <ul class="pagination pagination-rounded justify-content-center">
                                  <li class="page-item noselect" style="cursor: pointer;"><a
                                          *ngIf="!p.isFirstPage()" class="page-link disabled"
                                          (click)="p.previous()">Anterior</a></li>
                                  <li class="page-item" [class.active]="p.getCurrent() === page.value"
                                      *ngFor="let page of p.pages"><a class="page-link" style="cursor: pointer;"
                                          (click)="p.setCurrent(page.value)">{{page.label}}</a></li>
                                  <li class="page-item" style="cursor: pointer;"><a class="page-link"
                                          *ngIf="!p.isLastPage()" (click)="p.next()">Siguiente</a></li>
                              </ul>
                          </nav>
                      </pagination-template> -->
                  </div>

                </div>
            </div> 
        </div>


    </div>
</div>


</div>
